/* Estilo para la barra de navegación */
.navbar-extended {
    background-color: #6A0F49;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

/* Estilo para los encabezados (h1, h2, etc.) con la fuente personalizada */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* Estilo para los botones de documentos a firmar con la clase "btn-docs" */
.btn-docs {
    font-size: 12px; /* Reduzco el tamaño de la fuente */
    padding: 6px 12px; /* Reduzco el espaciado interior del botón */
    max-width: 150px; /* Establezco un ancho máximo para evitar que los botones sean muy largos */
}

.form-group {
    display: block;
    margin-bottom: 10px; /* Adjust the spacing as needed */
}



/* Style the form container */
.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style form labels and inputs */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="file"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-link.active {
    color: rgb(0, 0, 0);
}




/* Style the navigation section */
.nav {
 
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.nav h4 {
    font-size: 6px;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    margin-bottom: 15px;
}

/* Style navigation links */
.nav a {
    color: #fff;
    text-decoration: none;
}


.nav a:hover {
    text-decoration: underline;
}




  /* Add styles to the navigation bar */
  .navbar-extended {
    background-color: #6A0F49; /* Background color */
    border-right: 1px solid #555; /* Right border */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* Right-side shadow */
    transition: all 0.3s; /* Transition for smooth hover effect */
  }

  /* Style for the navigation links on hover */
  .nav-item a:hover {
    background-color: #555; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }

 



    .meeting-box {
        width: 200px; /* Establece el ancho que desees */
        height: 250px; /* Establece la altura que desees */
        border: 1px solid #ddd; /* Add a border */
        box-shadow: 1px 1px 1px #ccc; /* Add a shadow */
        padding: 20px; /* Add padding for spacing within the box */
        margin: 10px 0; /* Add margin to separate each box */
        background-color: #fff; /* Optional: Set a background color */
    }



    /* Estilos para los botones de documentos a firmar con apariencia de tarjetas */
.btn-docs {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 9000px;
    height: 100px;
    
}

.btn-docs:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}





/* acerca de*/
.upload-box {
    border: 2px solid #ccc; /* Add a border */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    padding: 20px;
    margin: 10px;
    width: 1000px;
}

.upload-box h4 {
    margin-bottom: 1
    5px;
}


.upload-box button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.upload-box button:hover {
    background-color: #0056b3;
}




/* otros adicional al nav*/
.nav-item {
    text-align: left; /* Adjust the text alignment as per your preference */
    padding: 5px; /* Adjust the padding to control spacing between items */
}

/* Additional styling for sub-menu items */

.nav-link {
    display: block; /* Ensure the entire item area is clickable */}





     /* Additional CSS for the form elements aqui mero */
     /* .container {
        background-color: #f7f7f7;
        padding: 18px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 1300px;
    } */


    

    h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    .upload-box {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        width: 860px;
    }

    input[type="text"] {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .file-upload-section {
        margin: 18px 0;
    }




    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    /* Alert styles */
    .alert {
        margin: 10px 0;
        padding: 10px;
        background-color: #f44336;
        color: #fff;
        border-radius: 4px;
    }




    /* Estilos CSS para la tarjeta */
.card-custom {
    border: 2px solid #007BFF; /* Establece el borde con un color específico */
    box-shadow: 5px 5px 10px #888; /* Aplica una sombra */
    border-radius: 10px; /* Agrega un contorno redondeado */
  }
  
  /* Estilo para el título de la tarjeta */
  .card-title {
    font-weight: bold; /* Hace el título en negrita */
  }
  
  /* Estilo para el botón de descarga */
  .btn-primary {
    background-color: #007BFF; /* Cambia el color del botón principal */
    color: #fff; /* Cambia el color del texto del botón a blanco */
  }
  





  .file-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    text-align: center;
    background-color: #f9f9f9;
}

.file-title {
    font-weight: bold;
}

.file-download {
    margin: 10px 0;
}











/* Add these styles to your existing CSS file or within a <style> tag in the head */
.file-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px ;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.file-item:hover {
    transform: scale(1.05);
}

.file-title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff; /* Blue color */
}

.file-download a {
    text-decoration: none;
    color: #000000; /* Green color */
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.file-download a:hover {
    color: #218838; /* Darker green color on hover */
}

.file-actions button {
    background-color: #dc3545; /* Red color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.file-actions button:hover {
    background-color: #c82333; /* Darker red color on hover */
}





/*alertas*/
/* Custom CSS for styling the alert */
.alert-box {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    padding: 15px;
    border: 1px solid #f5c6cb; /* Border color for contrast */
    border-radius: 5px;
    margin-top: 15px;
}

.alert-box-success {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text color */
    border-color: #c3e6cb; /* Border color for contrast */
}




h1 {
    font-size: 36px;
    color: #6A0F49;
    margin: 0; /* Eliminar márgenes */
    padding: 20px;
    font-family: 'YourCustomFont', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.2;
    background-color: #F2EFE9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    width: 1375px; /* Ocupar el ancho completo */
    
}

h1:hover {
    background-color: #D9C9B4; /* Change background color on hover */
    color: #452537; /* Change text color on hover */
}


h2 {
    font-size: 24px;
    color: #3498db; /* Custom color for h2 */
    margin-bottom: 15px;
    font-family: 'YourCustomFont', sans-serif; /* Replace 'YourCustomFont' with your actual font */

    /* Additional Styling */
    text-align: center; /* Center-align the text */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add a slight letter spacing for better readability */
    font-weight: bold; /* Make the text bold */
    line-height: 1.2; /* Adjust the line height for better spacing */

    /* Background */
    background-color: #ecf0f1; /* Replace with your desired background color */
    padding: 15px; /* Add padding to give space around the text */
    border-radius: 6px; /* Add rounded corners for a softer look */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */

    /* Text shadow */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow for emphasis */
    
    /* Transition */
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect on background color */

    /* Hover effect */
    cursor: pointer;

    width: 1375px;
}

h2:hover {
    background-color: #bdc3c7; /* Change background color on hover */
    color: #2c3e50; /* Change text color on hover */
}






/* Styling for h4 */
h4 {
    font-size: 24px; /* Set the font size for h4 */
    color: #333; /* Text color for h4 */
    margin-bottom: 15px; /* Bottom margin for spacing */
    font-family: 'YourCustomFont', sans-serif; /* Use your custom font for h4 */
}

/* Responsive styling for h4 on smaller screens */
@media only screen and (max-width: 600px) {
    h4 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}




/* Estilo para el contorno de los campos al recibir el foco */
input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 5px #3498db;
    border-color: #3498db;
}

/* Estilo para el contorno de los campos al pasar el ratón sobre ellos */
input:hover,
select:hover {
    border-color: #3498db;
}

/* Estilo para la etiqueta del archivo seleccionado */
input[type="file"]::before {
    content: "Adjuntar PDF";
    display: block;
    background-color: #3498db;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para el archivo seleccionado */
input[type="file"]:valid::before {
    content: "PDF seleccionado: " attr(value);
    background-color: #2ecc71;
}




/* Estilo para la sección activa en el menú de navegación */
.nav-item.active {
    background-color: #585858; /* Color de fondo destacado */
    color: #fff; /* Color del texto destacado */
}



h4 {
    color: #333;
    font-family: 'Roboto', sans-serif; /* Cambia la fuente predeterminada a Roboto */
    padding: 1px;
  
  }

  
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    
        body {
            animation: fadeIn 0.5s ease-in-out;
        }
  